body{
    overflow: hidden;
    background: url(../img/indexBack.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    width: 100%;
    height: 100%;
    .search{
        width:100%;
    }
    .title{
        width: 2.2rem;
        margin: 0 auto;
        font-size: 0.46rem;
        line-height: 0.6rem;
        color: white;
        font-weight: bold;
        text-align: center;
        position: relative;
        .left{
            height: 0.14rem;
            top: 0.23rem;
            position: absolute;
            right: 100%;
        }
        .right{
            height: 0.14rem;
            top: 0.23rem;
            position: absolute;
            left: 100%;
        }
    }
    .searchBox{
        width: 71.6%;
        margin:  0 auto;
        height: 0.8rem;
        line-height: 0.8rem;
        border: 1px solid #275392;
        border-radius: 4px;
        background-color: rgba(0,0,0,0.65);
        overflow: hidden;
        position: relative;
        margin-top: 0.2rem;
        input{
            display: block;
            width: 75%;
            margin-left: 2.5%;
            height: 100%;
            border: 0;
            background-color: transparent;
            color: white;
        }
        input::-webkit-input-placeholder{
            color: white;
        }
        input::-ms-input-placeholder{
            color: white;
        }
        input::-moz-placeholder{
            color: white;
        }
        button{
            position: absolute;
            top: 0;
            right: 0;
            width: 22.5%;
            height: 100%;
            display: block;
            color: white;
            background-color: #275392;
            font-size: 0.32rem;
        }
    }
}
#pop1{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    .pop1{
        width: 71.6%;
        position: relative;
        margin: 0 auto;
        >img{
            width: 100%;
        }
        .ok{
            display: block;
            position: absolute;
            bottom: 4.3%;
            left: 22.5%;
            width: 55%;
            height: 14%;
            opacity: 0;
        }
        p{
            position: absolute;
            top: 0;
            color: white;
        }
        .name{
            font-size: 0.26rem;
            top: 34%;
            left: 4%;
        }
        .lp{
            top: 56%;
            left: 10%;
            font-size: 0.3rem;
        }
        .rp{
            top: 56%;
            left: 69%;
            font-size: 0.3rem;
        }
        .number{
            width: 42%;
            top: 48%;
            left: 25.6%;
            text-align: center;
            font-size: 0.8rem;
            line-height: 1.0rem;
            color: #dfbb75;
            font-weight: bold;
        }
    }
}
#pop2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    .pop2{
        width: 71.6%;
        position: relative;
        margin: 0 auto;
        >img{
            width: 100%;
        }
        .ok{
            display: block;
            position: absolute;
            bottom: 4.3%;
            left: 22.5%;
            width: 55%;
            height: 14%;
            opacity: 0;
        }
        p{
            position: absolute;
            top: 0;
            color: white;
//          background-color: red;
            text-align: center;
        }
        .names{
            top: 32%;
            left: 5.5%;
            font-size: 0.22rem;
            width: 23%;
            line-height: 0.46rem;
        }
        .desk{
            top: 32%;
            left: 29%;
            font-size: 0.22rem;
            width: 23%;
            line-height: 0.46rem;
        }
        .chat{
            top: 32%;
            left: 52.5%;
            font-size: 0.22rem;
            width: 45%;
            line-height: 0.46rem;
        }
        .table{
            position: absolute;
            left: 5.5%;
            top: 41%;
            width: 92%;
            height: 1.8rem;
            background-color: transparent;
            font-size: 0.22rem;
            overflow-y: scroll;
            table{
                width: 100%;
                border: 0;
            }
            table tr td{
                height: 0.6rem;
                border: 0;
                text-align: center;
                vertical-align: middle;
                color: #dfbb75;
            }
            
            table tr td:nth-child(1){
                width: 25.5%;
            }
            table tr td:nth-child(2){
                width: 25.5%;
            }
            table tr td:nth-child(3){
                width: 49%;  
            }
        }
    }
}
#pop3{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    .pop3{
        width: 71.6%;
        position: relative;
        margin: 0 auto;
        >img{
            width: 100%;
        }
        .ok{
            display: block;
            position: absolute;
            bottom: 4.3%;
            left: 22.5%;
            width: 55%;
            height: 14%;
            opacity: 0;
        }
        .ppBox{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 0.28rem;
            line-height: 0.5rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
        }
    }
}